    
#nav{
	background_color : #023B5C;
}
#Nomsite
{
	font-size: 40px;
	font-family : Comic Sans MS;
	color:white;
	padding-left:30px;
	
}

.entete
{
	font-size:20px;
}
li
{
	 list-style: none; 
    margin: 0;
	display: inline;
}
#notif
{
	padding-right:10px;
}

#nomRec
{
	color : #0074B9;
	font-size:36px;
	padding-left:8%;
	
}
#noteRec
{
	font-size:30px;
	padding-left:20%;
}
#typeRec
{
	font-size:25px;
	padding-left:20%;
}
#nbPrsRec
{
	font-size:20px;
	padding-left:10%;
}
#tempsRec
{
	font-size:20px;
	padding-left:40%;
}


.ImageRecette  {
    overflow:auto;
}
.ImageRecette img {
    float:left;
	margin-top:1%;
    margin-left: 10%;
    width:30%;
}
#pub
{
	font-size:13px;
	padding-left:20%;
}
#decription
{
	padding-left:15%;
	padding-right:15%;
	
}
#contenaire
{
	font-family:  Courier New,Helvetica, cursive,serif;
	background: white url(Background.png) no-repeat 50% 50%;
}
