<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>La Cuisine Du Monde</title>
        <link rel="stylesheet" href="./Profil-recettes/View/profil-mesRecettes.css">
    </head>
    
    <body>
        
        <div id="partieHaute">
            <div id=image>
                <img src="./Profil-recettes/View/profil-vide.jpg">
            </div>
            <div id="infos">
                 <li class = "genreUtil"> Genre Cuisine </li>
                <li class = "mailUtil"> User@domaine.com </li>
                <li class = "nomUtil"> User </li>
            </div>
        </div>
        <div class="PartieBasse">
            <div id = "rec">
                <li class ="mesrec">Mes Recettes :</li>
                <form>
                    <input id = "Ajouter"
                               type="button"
                           value="Ajouter nouvelle recette">
                </form>
            </div>
    
                 <div class="Recette-petit center" >
           <a href="Recette/RecetteNouveau.html">
               <img class="image-petit" src="./Profil-recettes/View/image-petit.jpg">
           </a>
            <h3 class="title">Brioche Tressée</h3>   
            <h4 class="Note">Note 4.5</h4>
            <h4 class="Temps">Temps de preparation 15 min</h4>
            <br/>
            <h4 class="Ingredients">
                Ingredients : <br/>
            * 500 g de farine (farine de gruau * de préférence, sinon de la T45)<br/>
            * 80 g de sucre en poudre<br/>
            * 8 g de sel ...<br/></h4>
            <h4 class="description">Pour cette recette, je voulais une brioche parfaite à manger juste comme ça, sans forcément mettre de la confiture ou de la pâte à tartiner dessus, même si cela reste possible.
            Et je suis super contente du résultat ! ...</h4>
       
            </div>
        </div>
        
        
        
        
        
        
    </body>